  @font-face {
  	font-family: "bebas";
  	src: url("../fonts/BebasNeue.otf") format("otf");
  }

  /* @font-face {
	font-family: "grechen";
	src: url("../fonts/GrechenFuemen-Regular.ttf");
  }  */
  /* @font-face {
	font-family: "grechen";
	src: url("../fonts/century-gothic-regular.ttf");
  }  */

  h1,
  h2,
  h3,
  h4 {
  	color: #0f495d;
  	font-family: "bebas";
  }

  header {
  	display: flex;
  	justify-content: center;
  	justify-items: center;
  	background-image: url(../image/fondo.jpg);
  	padding: 32px;
  }


  nav li a {
  	color: black;
  	font-size: 18px;


  }

  .container-modal {
  	display: flex;
  	justify-content: center;
  }

  .container-modal img {
  	width: 100px;
  	border-radius: 10px;
  	margin-right: 180px;

  }

  .nav-wrapper {
  	/* background-color: #0587b3; */
  	background: linear-gradient(0deg, #f6f1f9 0%, #4c6af0 100%);

  }

  #menu {
  	margin-top: 5px;
  	margin-left: 49%;
  }

  #Proyectos {
  	display: flex;
  	justify-content: center;
  }

  main section {
  	width: 94%;
  }

  main aside {
  	display: flex;
  	justify-content: center;
  	justify-items: center;
  	text-align: center;
  	padding: 30px;
  	box-shadow: 3px 1px 10px 3px #565353;

  }

  main #Proyectos .slides img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	opacity: 0.6;
  }

  main aside #modal1 {
  	width: 80%;
  	margin: auto;
  	border-radius: 15px;
  	background: linear-gradient(0deg, #a0a0a5 0%, #f6f1f9 100%);
  }


  main aside .collapsible img {
  	width: 40px;
  	margin: auto;
  }

  footer {
  	display: flex;
  	justify-content: center;
  	gap: 32%;
  }

  footer img {
  	width: 50px;
  }